__pycache__
.DS_Store
*.sqlite3


#env
env
env/*


#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .tfplan files
*.tfplan

# .pem files
*.pem

# .hcl files from Terraform v0.14 and newer
*.hcl

# working directory for web app
# /globo_web_app/*



#docker run -p 8007:8000 --name django-test django-ecs gunicorn hello_django.wsgi:application --bind 0.0.0.0:8000